
<AnimatedContainer class="gameboard">
  <div class="hexwrapper">
    <canvas id="hexcanvas" width="400" height="450" onClick={{action "hexReport"}}></canvas>
    <Ship />
  </div>


</AnimatedContainer>


