<!--https://www.redblobgames.com/grids/hexagons/implementation.html-->
<div class="hexeswrapper">
  <section>
    <figure>
      <canvas id="layout-test-orientation-pointy" width="600" height="400"></canvas>
      <canvas id="layout-test-orientation-flat" width="600" height="400"></canvas>
    </figure>

    <p>Let’s try three different sizes, <code>Point(10, 10)</code>, <code>Point(20, 20)</code>, and <code>Point(40, 40)</code>:</p>

    <figure>
      <canvas id="layout-test-size-1" width="400" height="400"></canvas>
      <canvas id="layout-test-size-2" width="400" height="400"></canvas>
      <canvas id="layout-test-size-3" width="400" height="400"></canvas>
    </figure>

    <p>Here’s what I get for pointy top and flat top orientations:</p>
    <figure>
      <canvas id="shape-pointy-hexagon" width="600" height="400" style="width: 300px; height: 200px;"></canvas>
      <canvas id="shape-flat-hexagon" width="600" height="400" style="width: 300px; height: 200px;"></canvas>
    </figure>
  </section>
</div>