body {
  margin: 0;
  padding: 0;
}
.bottombar {
  position: absolute;
  width: 88%;
  z-index: 100;
  display: flex;
  justify-content: flex-start;
  .controls {
    //margin-left: auto;
  }
  div {
    margin: 10px;
  }
  button {
    margin-right: 5px;
  }
  .up, .down {
    padding-left: 20px;
  }
}

.boardContainer {
  padding: 50px;
}
.gameboard {
  position: relative;
}

.ship {
  position: absolute;
  img {
    height: 60px;
  }
}

.board {
  display: table;
}
.row {
  display: table-row;
}

.grid {
  display: table-cell;
  width: 60px;
  height: 60px;
  &.w {
    background-color: lightblue;
  }
  &.l {
    background-color: tan;
  }
}
